
* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    display: flex;
    background: black;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
}


.content {
    position: relative;
    width: 100%; 
    height: 100%; 
    text-align: center; 
}


.content h2 {
    color: #fff;
    font-size: 10em;
    position: absolute;
    top: 100%; 
    left: 100%; 
    transform: translate(-50%, -50%);
    overflow: hidden;
}


.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #8338ec;
}

.content h2:nth-child(2) {
    color: #c19bf5;
    animation: animate 4s ease-in-out infinite;
}


@keyframes animate {
    0%, 100% {
        -webkit-clip-path: polygon(
            0% 45%, 16% 44%, 33% 50%, 54% 60%, 
            70% 61%, 84% 59%, 100% 52%, 
            100% 100%, 0% 100%
        );
        clip-path: polygon(
            0% 45%, 16% 44%, 33% 50%, 54% 60%, 
            70% 61%, 84% 59%, 100% 52%, 
            100% 100%, 0% 100%
        );
    }
    50% {
        -webkit-clip-path: polygon(
            0% 60%, 15% 65%, 34% 66%, 51% 62%, 
            67% 50%, 84% 45%, 100% 46%, 
            100% 100%, 0% 100%
        );
        clip-path: polygon(
            0% 60%, 15% 65%, 34% 66%, 51% 62%, 
            67% 50%, 84% 45%, 100% 46%, 
            100% 100%, 0% 100%
        );
    }
}
