
body {
  background: radial-gradient(
        rgba(76, 76, 76, 1) 4%,
        rgba(61, 61, 61, 1) 9%,
        rgba(61, 61, 61, 0) 9%
      )
      0 0,
    radial-gradient(
        rgba(76, 76, 76, 1) 4%,
        rgba(61, 61, 61, 1) 8%,
        rgba(61, 61, 61, 0) 10%
      )
      50px 50px,
    radial-gradient(rgba(76, 76, 76, 0.8) 20%, rgba(61, 61, 61, 0)) 50px 0,
    radial-gradient(rgba(76, 76, 76, 0.8) 20%, rgba(61, 61, 61, 0)) 0 50px,
    radial-gradient(rgba(61, 61, 61, 1) 35%, rgba(61, 61, 61, 0) 60%) 50px 0,
    radial-gradient(rgba(61, 61, 61, 1) 35%, rgba(61, 61, 61, 0) 60%) 100px 50px,
    radial-gradient(rgba(53, 53, 53, 0.7), rgba(61, 61, 61, 0)) 0 0,
    radial-gradient(rgba(53, 53, 53, 0.7), rgba(61, 61, 61, 0)) 50px 50px,
    linear-gradient(
        45deg,
        rgba(61, 61, 61, 0) 49%,
        rgba(0, 0, 0, 1) 50%,
        rgba(61, 61, 61, 0) 70%
      )
      0 0,
    linear-gradient(
        -45deg,
        rgba(61, 61, 61, 0) 49%,
        rgba(0, 0, 0, 1) 50%,
        rgba(61, 61, 61, 0) 70%
      )
      0 0;
  background-color: rgba(61, 61, 61, 1);
  background-size: 100px 100px;
}
