body {
  background: #f4f4f4;
  font-family: Arial;
}

.card {
  width: 360px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}
